<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Labber Eats Control Page</title>

    <%- include('partials/_head') %>

    <link rel="stylesheet" href="/styles/control.css" type="text/css" />
    <script type="text/javascript" src="/scripts/control.js"></script>
    <script type="text/javascript" src="/scripts/control-buttons.js"></script>
  </head>

  <body>
    <header>
      <%- include('partials/_header') %>
    </header>
    <main class='order_container'>
      <div class='order_type_container'>
        <h1>New Orders</h1>
        <ol id='new_orders'></ol>
      </div>
      <div class='order_type_container'>
        <h1>In Progress</h1>
        <ol id='pending_orders'></ol>
      </div>
    </main>
  </body>
</html>
