<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Labber Eats Home Page</title>
    <%- include('partials/_head') %>
  </head>

  <body>
    <header>
      <%- include('partials/_header') %>
      <nav>
        <button>Cart that only shows when items selected for client page</button></nav>
    </header>
    <article>
      <h1>Menu</h1>
      <p>Use js to loop through menu and output them here along with a SELECT button that changes to a counter when clicked</p>
    </article>
    <footer>
      <h3>Restaurant address info</h3>
    </footer>
  </body>
</html>
