<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Labber Eats Home Page</title>
    <%- include('partials/_head') %>
    <script type="text/javascript" src="/scripts/client.js"></script>
  </head>

  <body>
    <header>
      <%- include('partials/_header') %>
      <nav>
        <button>Cart that only shows when items selected for client page</button></nav>
    </header>
    <main>
      <h1>Menu</h1>
      <article>
        <h3>Item name</h3>
        <p>item description</p>
        <p>price</p>
        <img>
      </article>
    </main>
    <footer>
      <h3>Restaurant address info</h3>
    </footer>
  </body>
</html>
