@import 'globals';

#cart-container {
  width: 0%;
}

.cart {
  position: fixed;
  height: 100vh;
  width: 90vw;
  padding: 1.5rem;
  top: 0px;
  right: 0px;
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
  z-index: 2;

    div.scroll {
    margin:4px, 4px;
    padding:4px;
    flex: 1 1 70%;
    overflow-x: hidden;
    overflow-y: auto;
    text-align:justify;
    scrollbar-color: white grey;
    scrollbar-width: thin;
  }

  & div:nth-child(3) {
    height: 2.5rem;
  }
}
#cart_items_container {
  border-top: gray solid;

  article {
    display: flex;
    flex-direction: row;
    border-bottom: gray solid;
    padding-top: 1rem;
    padding-bottom: 1rem;

    div:last-child {
      margin-left: 1rem;
      display:flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  button {
    border-radius: 50%;
    outline: none;
    width: 2rem;
    height: 2rem;
    border-style: hidden;

    &:hover {
      cursor:pointer;
    }
  }

  input[type=number] {
    width: 3rem;
    background-color: transparent;
    margin: 0.25rem;
    color: white;
    border-style: hidden;
    outline: none;
    text-align: center;
    font-size: 1.25rem;

    &:hover {
      cursor:auto;
    }
  }

  h3 {
    margin: 0.3rem;
  }

}

.total {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: gray solid;
}

form {
  p {
    color: red;
    margin: 0.5rem 0;
  }

  .user{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top:0.75rem;

    // make name and phone input wider
    & > * {
      width: 50%;
    }
    & > div:first-child {
      margin-right: 0.2em;
    }
  }

  .user-comment {
    div:first-child {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      p {
        color: white;
      }
    }
  }

  input {
    width: 100%;
  }

  textarea {
    width: 100%;
    resize: none;
  }
}

.checkout-btn, button[type=submit] {
  width: 100%;
  height: 100%;
  background-color: $logo-color;
  color: white;
  cursor: pointer;
  font-size: 1.25rem;
  border: none;
  outline: none;

    &:hover {
      background-color: $btn-hover-color;
    }
}

button[type=submit] {
  padding: 0.5rem;
}

/* Tablets ----------- */
@media only screen
and (min-width : 768px) {
  #cart-container {
    flex: 1 1 40%;
  }

  .cart {
    position: -webkit-sticky;
    position: sticky;
    width: 100%;
    max-height: calc(100vh - 6rem);
    padding: 1rem;
    right: 0px;
    top: 6rem;
  }
}
