// See: https://sass-lang.com/
@import 'globals';
$button-height: 2rem;

header {
  position: relative;

  #control_error {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 2rem;
    background-color:$warning-color;
  }
}

.order_container {
  display: flex;
  padding: 1rem;


  .order_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    p {
      text-align: right;
      margin-block-start: 0px;
      margin-block-end: 0px;
    }
  }

  .order_type_container {
    flex: 1 1 50%;
    padding-left: 1rem;
    padding-right: 1rem;
    // height:auto;
    // overflow-x: hidden;
    // overflow-y: auto;
  }

  ol {
    padding-inline-start: 0px;
  }

  ol > li {
    list-style-type: none;
    border-top: solid black;
    margin-bottom: 1rem;
    // color: white;
    // background-color: grey;
  }

  form {
    height: $button-height;
    // width: 100%;
    display: flex;
    margin-bottom: 1rem;
    // justify-content: stretch;
    // align-items: stretch;

    // &.decline-form {
    background-color: black;
    color: white;
    flex-direction: column;
    height: auto;
    text-align: center;

    label {
      height: $button-height;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    input {
      height: $button-height;
      background-color: black;
      color: white;
      border: none;
      outline: none;
      text-align: center;

      &:hover {
        filter:brightness(1.5);
      }
    }
    // }
    // &.accept-form{
    //   background-color: black;
    //   color: white;
    //   flex-direction: column;
    //   height: auto;

    // }
    &.hidden {
      display: none;
    }

  }

  button {
    flex: 1 1 20%;
    outline: none;
    border: none;
    cursor: pointer;

    &:hover {
      filter: brightness(0.95);
    }
  }

  input[type="submit"] {
    outline: none;
    border: none;
    height: $button-height;
    cursor: pointer;

    &:hover {
      filter: brightness(0.95);
    }
  }

  input {

    &[value*="Accept"],&[value*="Ready"],&[value*="Done"] {
      color: white;
      background-color: $logo-color;
    }
    &[value*="Decline"] {
      color: white;
      background-color: $warning-color;
      flex: 0 0 $button-height;
    }

  }

  .wait_time_container {
    // position: relative;
    flex: 1 1 100%;
  }

  .new_order_button_container {
    display: flex;
    width: 100%;
    // height: $button-height;
    // flex-direction: row;
    // justify-content: stretch;

    button {
      flex: 1 1 20%;
    }

    input {
      flex: 1 1 80%;
    }
  }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}
