@import 'globals';

header {
  background-color: black;
  margin: 0;
  display: flex;
  align-items: center;
  height: 6rem;
  padding: 2rem;
  position: fixed;
  width: 100%;
  z-index: 1;

  a {
    color: white;
    text-decoration: none;
  }

  h1 {
    margin: 0;
  }
}

i, span {
  color: $logo-color;
}

nav {
  margin-left: 1.5rem;
  display: flex;
  flex-direction: column;

  & a:hover {
    color: $logo-color;
  }
}

.cart-btn {
  cursor: pointer;
  position: fixed;
  right: 1rem;
  top: 2rem;
  z-index:3;
  background-color: transparent;
  border: none;
  outline: none;

  span {
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 0.5rem;
  }

  &:hover i, span {
    color: $btn-hover-color;
  }
}

footer {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
}

/* Smartphones ----------- */
@media only screen
and (max-width : 320px) {
/* Styles */
}

/* Tablets ----------- */
@media only screen
and (min-width : 768px) {
  footer{
    flex-direction: row;
  }
  nav {
    flex-direction: row;
    align-items: center;
    margin-left: 0.5rem;

    a{
      margin: 0.5rem;
      font-size: 1.25rem;
    }
  }
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
/* Styles */
}
