header {
  background-color: black;
  margin: 0;
  padding: 3rem;

  a {
    color: white;
    text-decoration: none;
  }

  h1 {
    margin: 0;
  }
}

#cart-btn {
  cursor: pointer;
  position: fixed;
  top: 5%;
  right: 5%;
  z-index: 1;
}

i {
  size: 3rem;
}

footer {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3rem;
}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
/* Styles */
}

/* Tablers (portrait and landscape) ----------- */
@media only screen
and (min-width : 768px) {
  footer{
    flex-direction: row;
  }
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
/* Styles */
}
