main {
  display: flex;
  flex-direction: row;
  padding: 2rem;

}

.hidden {
  display:none
}

article.menu-item {
  position: relative;
  color: white;
  max-width: 500px;
  margin-bottom: 0.5rem;
  border: black solid;

  &.unavailable {
    opacity: 0.5;

    .item-desc {
      display: block;
    }
  }

  div {
    position: absolute;
    width: 100%;
    background-color: black;
    opacity: 0.8;
    padding: 1rem;


    &:nth-child(2) {
      position: static;
      opacity: 1;
      padding: 0;
    }
    img {
      width:100%;
      height: 100%;
    }
  }

  &:hover .item-desc {
    display: block;
  }

}


.title {
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.item-desc {
  bottom: 4rem;
  display: none;
}

#menu-container {
  flex: 1 1 60%;
}

#cart-container {
  flex: 1 1 40%;
}

#cart {
  position: -webkit-sticky;
  position: sticky;
  // position: fixed;
  max-height: 100vh;
  top: 0px;
  right: 0px;
  display: flex;
  flex-direction: column;
  background-color: rgb(126, 126, 126);

  div.scroll {
    margin:4px, 4px;
    padding:4px;
    background-color: green;
    // width: 500px;
    flex: 1 1 70%;
    overflow-x: hidden;
    overflow-y: auto;
    text-align:justify;
  }
}

#map_container {
  width: 100%;
  display: flex;

  img {
    width: 100%;
  }
}
